:root {
	--color-primary: #4151b7;
	--color-secondary: #727272;
	--color-white: #ffff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	a {
		@apply font-roboto;
	}
}
