.container {
	@apply flex 
		flex-col
		h-full
		max-w-md;

	min-height: 20rem;
}

.a {
	@apply h-full;
}

.icon {
	@apply text-primary
		pr-3;
}

.infos {
	@apply flex
		justify-between
		flex-col;
}

.title {
	@apply flex 
		text-primary 
		items-center 
		font-medium 
		text-lg;
}

.text {
	@apply pl-9 pt-1;
}

.moreActions {
	@apply pl-9 
		pt-3 
		flex 
		justify-end 
		items-center;
}

.link {
	@apply hidden 
		text-secondary 
		text-sm
		mr-3;
}

.link:hover {
	@apply underline;
}

.button {
	@apply bg-action 
		px-3 
		py-2
		rounded-tl-md
		rounded-b-md 
		mb-4
		text-white;

	font-size: 1.15rem;
	transition: filter 0.2s;
}

.button:hover {
	filter: opacity(0.8);
}

@media (min-width: 375px) {
	.link {
		@apply block;
	}

	.button {
		@apply mb-0;
	}
}
